<!--{% static 'guestbook/bootstrap.min.css' %}-->
<!DOCTYPE html>
<html>
<head>
	<title>Welcome to pricetracker</title>
	<link rel="stylesheet" type="text/css" href="C:/xampp/htdocs/bootstrapimp/bootstrap/css/bootstrap.min.css">

</head>
<body>
	<center>
	<h2>Please enter following details</h2>
	<form class="form-group" >
		<table>
			<tr>
				<td>URL:</td>
				<td><input type="text" name=""  class="form-control" size='48'></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input type="Email" name="" class="form-control"></td>
			</tr>
			<tr>
				<td>Expected Price:</td>
				<td><input type="input" name="" class="form-control"></td>
			</tr>
			
		</table>
		<br>
			<input type="submit" name="Submit" class="btn btn-primary" >
		
		
	</form>
	</center>
</body>
</html>